streamlit
flask
google-generativeai
python-dotenv
pydub
pdfplumber
python-docx
numpy
email-validator
gunicorn
requests
authlib
soundfile
boto3
bcrypt
b2sdk
streamlit-webrtc
av
audio-recorder-streamlit
